<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/privacy_policy.css">
<%- include('include/head') %>
    <title>Privacy Policy</title>
</head>
<body>
    <!-- Main container -->
    <div class="page-container">
        <%- include('include/nav') %> 
                <div class="about-section">
                    <h1>Privacy Policy</h1>
                        <div></div>
                        <ol >
                            <li>We will/may collect your personal data about you:
                                <ul class="square">
                                    <li>When you log in/sign up in the website</li>
                                    <li>When you fill up your information in the form.</li>
                                </ul>
                            </li>
                            <li>What personal data that they collect:
                                <ul type class="square">
                                    <li>Name;</li>
                                    <li>Email Address;</li>
                                    <li>Address</li>
                                </ul>
                            </li>
                            <li>How do we use the information you provide us?
                                <ul class="square">
                                    <li>To protect personal safety and the rights, property or safety of others;</li>
                                    <li>To use for delivering the products</li>
                                </ul>
                            </li>
                            <li>Questions, Concerns or Complaints?
                                <ul class="square">
                                    <li>If you have any questions or concerns about our privacy practices, 
                                        we welcome you to contact us by Yap's Merchandise@gmail.com</li>
                                </ul>
                            
                            
                        </ol>




                </div>
    </div>
    <!-- Main container -->

    <%- include('include/footer') %> 
</body>
</html>
   
   














































  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">-->
 
