<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/terms.css">
<%- include('include/head') %>
    <title>Terms of Services</title>
</head>
<body>
    <!-- Main container -->
    <div class="page-container">
        <%- include('include/nav') %> 
                <div class="about-section">
                    <h1>Terms of Services</h1>
                        <div></div>
                        <ol >
                            <li>Purchase and Payment
                                <ul class="square">
                                    <li>Cash on Delivery (COD)</li>
                                    <li>-buyers may pay cash directly to the delivery agent upon their receipt of the purchased item.</li>
                                    <li>G-cash</li>
                                    <li>-buyers can pay through gcash to their purchased item..</li>
                                </ul>
                            </li>
                            <li>Delivery
                                <ul type class="square">
                                    <li>Seller must use his/her best effort to ensure that buyer receives the purchased items.</li>
                                 
                                </ul>
                            </li>
                            <li>Seller’s Responsibilities
                                <ul class="square">
                                    <li>Seller shall properly manage and ensure that relevant information such as the price and the details of items.</li>
                                    <li>To use for delivering the products</li>
                                </ul>
                            </li>
                            
                            
                            
                        </ol>




                </div>
    </div>
    <!-- Main container -->

    <%- include('include/footer') %> 
</body>
</html>
   
   














































  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">-->
 
