<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/new_password.css">
    
    <title>Change password</title>
</head>
<body>
    <div class="page-container1">
        <div class="login-box">
            <h2>Change Password</h2>
            <form action="/password-reset/create-password/<%- user.id %>" method="POST">
                <div class="new-ps-cont">
                    <label class="new-ps"  for="">New password</label>
                    <input type="password" id="new_password" name="new_password" id="">
                    <i class="fa-solid fa-eye fa-sm " id="eye"></i> 
                </div>
                <div class="confirm-ps-cont">
                    <label class="confirm-ps" for="">Confirm Password</label>
                    <input  type="password" id="confirm_password" name="confirm_password" id="">
                    <i class="fa-solid fa-eye fa-sm " id="eye1"></i> 
                </div>
                <div class="done-btn-cont">
                    <!-- <a class="done-btn" href="">Submit</a> -->
                    <button class="done-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    const passwordInput = document.querySelector("#new_password")
    const eye = document.querySelector("#eye")
    eye.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type = passwordInput.getAttribute("type") === "password" ? "text" : "password"
        passwordInput.setAttribute("type", type)
    })
    
    
</script>
<script>
    const passwordInput1 = document.querySelector("#confirm_password")
    const eye1 = document.querySelector("#eye1")
    eye1.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type = passwordInput1.getAttribute("type") === "password" ? "text" : "password"
        passwordInput1.setAttribute("type", type)
    })
    
    
</script>
<script>
    $(".done-btn").click(function () {
        alert("Change password Successfully");
      
      });
</script>

</html>

