<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/user-forpass1.css">
    
    <title>Forgot Password</title>
</head>
<body>
    <div class="page-container1">
        <div class="login-box">
            <h2>Forgot Password</h2>
            <form action="/password-reset" method="POST">
                <div class="new-ps-cont">
                    <label class="new-ps" for="">Email</label>
                    <input type="email" name="email" id="">
                </div>
                <div class="done-btn-cont">
                    <!-- <a class="done-btn" href="">Submit</a> -->
                    <button class="done-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

