<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-2.css">
<%- include('../include/head') %>
    <title>How to use Quick Order</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs2-body-container">
            <h1>How to use Quick Order</h1>
                    <ol type="1">
                        <li>Click the "Quick Order" button on the homepage.</li>
                            <div class="img-container">
                                <img class="faqs2-img1" src="/img//quick-order-removebg-preview.png" alt="">
                            </div>
                        <li>The customer may now see available products, and to place numerous orders, simply click the add to cart button.</li>
                            <div class="img-container">
                                <img class="faqs2-img2" src="/img/guest_cart.png" alt="">
                            </div>
                        <li>
                            After clicking "Buy Now" or "Add to Cart", the customer will fill out the forms.</li>
                            <div class="img-container">
                                <img class="faqs2-img4" src="/img/guest-info1.png" alt="">
                            </div>
                        <li>The customer can now choose which things they want to buy and receive a one-time notification and reminder.
                        </li>
                            <div class="img-container">
                                <img class="faqs2-img5" src="/img/one-time.png" alt="">
                            </div>
                    </ol>      
        </div>           
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   