<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-1.css">
<%- include('../include/head') %>
    <title>FAQS</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs1-body-container">
            <h1>How to Order ?</h1>
                <ol type="1">
                    <li>You can use the "Quick Order" menu or create an account to access more features.</li></br>
                    <div class="img-container">
                        <img class="faqs1-img0" src="/img/signup.png" alt="">
                    </div>
                    <li>If you are buying a single product, you can choose "Buy Now.", If you are selecting multiple orders, you can choose "Add to Cart."</li>
                        <div class="img-container">
                            <img class="faqs1-img1" src="/img/buyorcart.png" alt="">
                        </div>
                </ol>                 
        </div>
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   