<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs-1.css">
<%- include('../include/head') %>
    <title>FAQS</title>
</head>
<body>
    <div class="products-page-container">
        <%- include('../include/nav') %>
        <div class="faqs1-body-container">
            <h1>CAN I CANCEL MY ORDER?</h1>
                <ol type="1">
                    <li>Customers can track the status of their orders in the account menu, Orders.</li></br>
                    <li>If the status is still "Pending," the customer can cancel their orders.</li>
                        <div class="img-container">
                            <img class="faqs1-img1" src="/img/cancel1.png" alt="">
                        </div>
                    <li>When the status switches to "To Ship," the customer can track the status of their orders. </li>
                        <div class="img-container">
                            <img class="faqs1-img2" src="/img/ordersss.png" alt="">
                        </div>
                </ol>                 
        </div>
    </div>
    <%- include('../include/footer') %>
</body>
</html>
   
   